body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 4rem;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 30px 10px;
  font-size: 4rem;
  cursor: pointer;
  font-size: larger;
}

button:hover {
  background-color: #ccc;
}

#display {
  width: 70%;
  height: 30px;
  font-size: 24px;
  padding: 1rem 2rem;
  text-align: right;
  border: none;
  border-bottom: 1px solid #ccc;
}
